.genius{
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-areas: 'red blue' 'yellow green';
  grid-gap: 10px;
}
.red{
  grid-area: red;
  background-color: red;
  border-top-left-radius: 100%;
  border: 2px solid white;
}
.blue{
  grid-area: blue;
  background-color: blue;
  border-top-right-radius: 100%;
  border: 2px solid white
}
.yellow{
  grid-area: yellow;
  background-color: yellow;
  border-bottom-left-radius: 100%;
  border: 2px solid white
}
.green{
  grid-area: green;
  background-color: green;
  border-bottom-right-radius: 100%;
  border: 2px solid white
}
.selected{
  opacity: 0.3;
  border: 2px black solid;
}
